:root {
  /* colors */
  --colorTextPrimary: #626262;
  --colorTextCategory: #b4ad9e;
  --colorTextNavigation: #7d7d7d;
  --colorTExtHover: #03a9f4;
  /* шрифти */
  --fontPrimary1: "Playfair Display", serif;
  --fontPrimary: "Ubuntu", serif;
}
body {
  font-family: var(--fontPrimary1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.35;
  color: var(--colorTextPrimary);
}
.container {
  max-width: 936px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  padding-top: 70px;
}
.nav-list {
  display: flex;
  gap: 100px;
  justify-content: center;
}
.nav-link {
  color: var(--colorTextNavigation);
}
.nav-link:hover {
  color: var(--colorTExtHover);
}
.gallery {
  padding-top: 90px;
  padding-bottom: 65px;
}
.gallery-list {
  margin-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 65px;
  row-gap: 130px;
}
.gallery-item {
  max-width: 420px;
}
.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-photo {
  margin-bottom: 62px;
}
.post-category {
  font-family: var(--fontPrimary);
  color: var(--colorTextCategory);
  font-weight: 300;
  display: inline-block;
  margin-bottom: 32px;
}
.post-title {
  font-size: 30px;
  margin-bottom: 40px;
}
.gallery-button {
  border: 1px solid var(--colorTextPrimary);
  background-color: transparent;
  padding: 20px 50px;
  /* Не вийшло розмістити по центру */
}
.gallery-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.backdrop {
  position: fixed;
  background-color: rgba(207, 197, 197, 0.3);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition-duration: 0.3s;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-150%, -50%) scale(50%);
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c1c0c0;
  position: absolute;
  width: 250px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(100%);
  padding: 20px;
  border-radius: 10%;
  box-shadow: 0px 2px 2px 0px black;
  transition-duration: 500ms;
}
.modal-content {
  font-size: 18px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(255, 255, 255, 0.832);
}
.btn-close {
  width: 18px;
  height: 18px;
  background-color: #ffffff55;
  border-radius: 50%;
  color: black;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  box-shadow: 0px 1px 1px 0px black;
  transition-property: box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease;
}
.btn-close:hover {
  box-shadow: 0px 2px 2px 0px black;
}
.no-scroll {
  overflow: hidden;
}
